:root {
  --accent: 136, 58, 234;
  --accent-dark: 224, 204, 250;
  --accent-light: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --font-color: #13151a;
  --background-color: #ddd6dd;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--background-color);
  color: var(--font-color);
  background-size: 224px;
}

html.dark {
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --font-color: #fff;
  --background-color: #13151a;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: rgb(var(--accent));
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: rgb(var(--accent-light));
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: rgb(var(--accent-light));
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: rgb(var(--accent-dark));
}

.expanded {
  display: unset;
}

.hidden {
  display: none;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
