---
const { url, title, date, imageUrl } = Astro.props;
---

<li>
  <a href={url}>
    <span>{title}</span>,
    <span>{date.slice(0, 10)}</span>
    <div>
      <img src={imageUrl} width="100" transition:name={`image-${imageUrl}`} />
    </div>
  </a>
</li>
