---
---
<header>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</header>

<style>
  header {
    margin: auto;
    padding: .5rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 18px;
    line-height: 1.6;
  }
</style>
